/* Input.scss */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 3px solid #ccc; /* Border color */
  border-radius: 10px; /* Border radius */
  padding: 10px; /* Add padding */
  height: 250px;
  // position: absolute;
  // left: 700px;
  // top: 200px; // nie chcę na to patrzeć, źle mi się robi na widok tego
  h2 {
    margin: 0;
  }
}
// .input-container:hover {
//   border-color: #007bff;
// }

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.input-field::placeholder {
  color: #aaa;
}

.button {
  margin-top: 10px;
  padding: 10px 25px;
  background-color: #007bff;
  transition: 0.2s;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}
